@model Boolean
@{
    ViewData["Title"] = "Auth";
}

<h2>Auth</h2>
<span>@Model</span>
@section Scripts {

    <script type="text/javascript">

        microsoftTeams.initialize();

        if (@Model) {
            console.log(@Model);
            microsoftTeams.authentication.notifySuccess();
        }
        else
        {
            microsoftTeams.authentication.notifyFailure();
        }

    </script>

}
