@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag["Authenticated"])
{

   <h1>YAY</h1>
}
else
{
    <button id="button">Login</button>

}

@section Scripts{
    <script type="text/javascript">
        microsoftTeams.initialize();

        $('#button').click(function {
            microsftTeams.authentication.authenticate({
                url: "/Auth",
                width: 400,
                height: 400,
                successCallback: function { window.location.reload() },
                failureCallback: function { console.log("Error.") } );
            

        });
    </script>
}


