@{
    ViewData["Title"] = "Home Page";
}

@if ((bool)ViewData["Authenticated"])
{

   <h1>YAY</h1>
}
else
{
    <button id="button">Login</button>

}

@section Scripts{
    <script type="text/javascript">
        microsoftTeams.initialize();

        $('#button').click(function() {
            microsoftTeams.authentication.authenticate({
                url: "/Home/Auth",
                width: 400,
                height: 400,
                successCallback: function() { window.location.reload() },
                failureCallback: function() { console.log("Error.") }
            });


        });
    </script>
}


